.heading{    
    background-color: #1f4365;
    color: white;
    padding: 10px;
}

.anchor{
    color: #007bff !important;
    text-decoration: none !important;
    background-color: transparent !important;
    cursor: pointer !important;
}

.border{
    border: 3px solid #1f4365 !important;
    padding: 0px;
}