.no-access{
    margin-top: 15px;
}

.no-access > p{
    margin-bottom: 0px !important;
}

.remember-me{
    margin-bottom: 10px;
}

.heading{    
    margin-bottom: 30px !important;
}

.anchor{
    color: #007bff !important;
    text-decoration: none !important;
    background-color: transparent !important;
    cursor: pointer !important;
}