
  <div class="col-md-5 offset-md-4 text-center">

    <p class="heading"> <strong>Login To Application </strong> </p>
    

    <form  #myform="ngForm" (ngSubmit)="login(myform)" ngNativeValidate>
        <div class="form-group">
          
            <label class="sr-only" for="inlineFormInputGroup">Email</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
              </div>
              <input type="email" name="email" [(ngModel)]="loginModel.userName" class="form-control" id="inlineFormInputGroup" required placeholder="Email">
            </div>

        </div>
        <div class="form-group">
           
            <label class="sr-only" for="inlineFormInputGroup">Password</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-asterisk" aria-hidden="true"></i></div>
              </div>
              <input type="password" name="password" [(ngModel)]="loginModel.password" class="form-control" id="inlineFormInputGroup" required placeholder="Password">
            </div>

        </div>
        
        <div class="form-check remember-me">
            <input class="form-check-input" type="checkbox" name="rememberMe" [(ngModel)]="loginModel.rememberMe" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Remember Me
            </label>
          </div>
    
    
        <button type="submit" style="background-color: #1f4365" class="btn btn-primary btn-lg btn-block">Log In</button>
    


     </form>

     
    <div class="col-xs-12 text-left no-access">
        <p><a href="#">Forgot Password ?</a></p>
        <!-- <p>Don't you have an Account? <a class="anchor" (click)="navigate('/home/user/registration')">Sign Up!</a></p> -->
    </div>


