

    <div class="row home-page">

      <div class="col-sm-12 col-md-3 side-panel ">

        <div class="col-xs-12 logo-div text-center"> 
          <img class="logo" src="assets/images/Alchemy.png" />
        </div>

        

        <div class="col-xs-12 carousel-content">
          <div id="carouselContent" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-target="#carouselContent" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselContent" data-slide-to="1"></li>
                </ol>
              <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active text-center p-4">

                    <h4 style="margin-bottom: 1px solid orange !important;" class="carousel-heading">Healthy Wealth</h4>

                    <p >Check your BMI using our healthy weight calculator and find out if you're a healthy weight</p>
                  </div>
                  <div class="carousel-item text-center p-4">
                      
                      <h4 class="carousel-heading">Healthy Wealth</h4>
                      
                      <p>Check your BMI using our healthy weight calculator and find out if you're a healthy weight</p>
                 
                  </div>
              </div>
              <!-- <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a> -->
          </div>
      </div>

      </div>
      <div class="col-sm-12 col-md-9 content-panel text-center">

        <router-outlet></router-outlet>

      </div>
    </div>


