
  <div class="col-md-11 offset-md-1">

     
      <div class="col-xs-12 text-right" style="
      padding-top: 9px;
      padding-bottom: 10px;">
          <span  class="heading" (click)="navigate('/dashboard/main/new-customer')"> <span class="fa fa-plus"></span> Customer  </span>
      </div>



  </div>

  


  <div class="col-md-8 offset-md-4 text-center" style="
  margin-top: 15%;
"> 

      <div class="col-md-6">
          
          <div class="input-group">
            
            <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Search..." aria-describedby="validationTooltipUsernamePrepend" required>
            <div class="input-group-prepend">
                <span class="input-group-text" id="validationTooltipUsernamePrepend">Go!</span>
              </div>
          </div>
  </div>
</div>
  
  
  